@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/optima/OptimaLTPro-Medium.otf');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/futura/FuturaLTProMedium.otf');
}

* {
  font-family: 'Futura';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #faf8f2;
  background-color: #18171d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  box-sizing: content-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #ecece5;
  padding: 10px 0;
  color: #18171d;
  height: 5vw;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  background-color: #ecece5;
  color: #18171d;
}

#title {
  font-size: 1.rem;
}

#imw-logo {
  width: 8.1vw;
  max-height: 9vh;
}

#under-construction {
  border-radius: 2%;
}

.under-construction {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
}

.under-construction > img {
  max-width: 30vw;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 1300px) {
  #imw-logo {
    width: 4vw;
  }
  #imw-logo {
    width: 7.5vw;
    max-height: 8vh;
  }
}

@media screen and (max-width: 1000px) {
  #title {
    font-size: 1.5rem;
  }
  #imw-logo {
    width: 7.5vw;
    max-height: 7vh;
  }
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 1.3rem;
  }
  #imw-logo {
    width: 8.1vw;
  }
}

@media screen and (max-width: 650px) {
  #title {
    font-size: 1.1rem;
    max-width: 230px;
    text-align: center;
  }
  #imw-logo {
    width: 8vw;
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 0.9rem;
    max-width: 180px;
    text-align: center;
  }
  #imw-logo {
    width: 8.1vw;
  }
}
