@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/optima/OptimaLTPro-Medium.otf');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/futura/FuturaLTProMedium.otf');
}

* {
  font-family: 'Futura';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #faf8f2;
  background-color: #18171d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  box-sizing: content-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ecece5;
  padding: 10px;
  color: #18171d;
  height: 7vh;
}

footer {
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ecece5;
  color: #18171d;
  height: 5vh;
}

footer > * {
  font-size: 1rem;
}

#title {
  font-size: 1.rem;
}

#imw-logo, .header-hidden {
  width: 8.1vw;
  max-height: 8vh;
}

#under-construction {
  border-radius: 2%;
}

.under-construction {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
}

.under-construction > img {
  max-width: 30vw;
}

.hidden {
  visibility: hidden;
}

.footer-hidden {
  width: 15vw;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.social-media-icons > a {
  display:inline-block;
}

a > img {
  width: 5vw;
  max-height: 3.5vh;
}

@media screen and (max-width: 1300px) {
  #imw-logo, .header-hidden {
    width: 7.5vw;
    max-height: 8vh;
  }
  footer > * {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  #title {
    font-size: 1.5rem;
  }
  #imw-logo, .header-hidden {
    width: 7.5vw;
    max-height: 7vh;
  }
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 1.3rem;
  }
  #imw-logo, .header-hidden {
    width: 8.1vw;
  }
}

@media screen and (max-width: 650px) {
  #title {
    font-size: 1.1rem;
    max-width: 230px;
    text-align: center;
  }
  #address {
    max-width: 250px;
    text-align: center;
  }

  #imw-logo, .header-hidden {
    width: 8vw;
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 0.9rem;
    max-width: 180px;
    text-align: center;
  }
  #address {
    max-width: 250px;
    text-align: center;
  }
  #imw-logo, .header-hidden {
    width: 8.1vw;
  }
}

